.DS_Store
/.build
/bin/MyJobs/.build
/bin/MyJobs/Package.resolved
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
